@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway&display=swap');

.book {
    border-bottom: 2px solid black;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    height: auto;
    width: 200px;
    align-self: center;
}

.book h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.book:nth-of-type(10) {
    border-bottom: none;
}

button {
    width: 300px;
    margin: 25px;
}

.book ul {
    margin-top: 10px;
}

.book ul li {
    margin: 5px;
}

p {
    line-height: 26px;
}

a {
    line-height: 26px;
}